body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

p, li {
    font-size: 1.2rem;
}

.questions {
    background-color: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 70%;
}

footer {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

footer a {
    text-decoration: none;
}